<%- include('partials/header') %>
<div class="container">
    <div class="card text-center mt-5 bg-light border-0">
        <div class="card-body p-5">
            <h1 class="card-title display-2">
                ERROR 404
            </h1>
            <p class="lead">
                The URL you are looking for isn't available.
            </p>
        </div>
    </div>
</div>
<%- include('partials/footer') %>